In [ ]:
import pandas as pd
import numpy as np
import warnings
import sklearn
import seaborn as sns
import time
import matplotlib.pyplot as plt
import tensorflow as tf

from sklearn import metrics
from sklearn.metrics import pairwise_distances
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import cosine
from collections import Counter

from zipfile import ZipFile
from pathlib import Path
from tensorflow import keras
from tensorflow.keras import layers
warnings.filterwarnings("ignore")
from scipy.sparse.linalg import svds

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data_sepeda = pd.read_csv('/content/sepeda.csv')
data_rating = pd.read_csv('/content/sepeda_ratings (1).csv')
data_sepeda.head()

   sepeda_id         nama_sepeda
0          1   Polygon Premier 4
1          2   Polygon Premier 5
2          3    Polygon Xtrada 5
3          4  Polygon Xtrada 6.1
4          5    Polygon Xtrada 7

In [ ]:
data_rating.head()

   user_id  sepeda_id  rating  ...  Unnamed: 10  Unnamed: 11  Unnamed: 12
0        1          1     2.0  ...          NaN          NaN          NaN
1        2          1     3.0  ...          NaN          NaN          NaN
2        3          1     NaN  ...          NaN          NaN          NaN
3        4          1     1.0  ...          NaN          NaN          NaN
4        5          1     2.0  ...          NaN          NaN          NaN

[5 rows x 13 columns]

In [ ]:
data_rating.drop('Unnamed: 3', axis = 1, inplace=True)
data_rating.drop('Unnamed: 4', axis = 1, inplace=True)
data_rating.drop('Unnamed: 5', axis = 1, inplace=True)
data_rating.drop('Unnamed: 6', axis = 1, inplace=True)
data_rating.drop('Unnamed: 7', axis = 1, inplace=True)
data_rating.drop('Unnamed: 8', axis = 1, inplace=True)
data_rating.drop('Unnamed: 9', axis = 1, inplace=True)
data_rating.drop('Unnamed: 10', axis = 1, inplace=True)
data_rating.drop('Unnamed: 11', axis = 1, inplace=True)
data_rating.drop('Unnamed: 12', axis = 1, inplace=True)
data_rating.head()

   user_id  sepeda_id  rating
0        1          1     2.0
1        2          1     3.0
2        3          1     NaN
3        4          1     1.0
4        5          1     2.0

In [ ]:
data_rating_sepeda = pd.merge(data_rating, data_sepeda, on = 'sepeda_id')
data_rating_sepeda.head()

   user_id  sepeda_id  rating        nama_sepeda
0        1          1     2.0  Polygon Premier 4
1        2          1     3.0  Polygon Premier 4
2        3          1     NaN  Polygon Premier 4
3        4          1     1.0  Polygon Premier 4
4        5          1     2.0  Polygon Premier 4

In [ ]:
sepeda_rating = data_rating_sepeda.pivot_table('rating', index = 'nama_sepeda', columns='user_id')
sepeda_rating.head(9)

user_id              1    2    3    4    5    6   ...   36   37   38   39   40   41
nama_sepeda                                       ...
Polygon D7          4.0  4.0  5.0  NaN  3.0  5.0  ...  NaN  5.0  NaN  NaN  4.0  3.0
Polygon Premier 4   2.0  3.0  NaN  1.0  2.0  NaN  ...  NaN  2.0  1.0  2.0  NaN  2.0
Polygon Premier 5   3.0  NaN  3.0  2.0  NaN  2.0  ...  3.0  NaN  1.0  2.0  2.0  2.0
Polygon Siskiu D5   3.0  NaN  3.0  3.0  2.0  4.0  ...  2.0  5.0  3.0  NaN  4.0  3.0
Polygon Siskiu T7   5.0  5.0  3.0  5.0  NaN  3.0  ...  2.0  5.0  NaN  3.0  5.0  NaN
Polygon Siskiu T8   5.0  NaN  4.0  5.0  NaN  4.0  ...  4.0  5.0  5.0  4.0  5.0  3.0
Polygon Xtrada 5    4.0  3.0  NaN  2.0  3.0  4.0  ...  3.0  3.0  NaN  2.0  3.0  2.0
Polygon Xtrada 6.1  4.0  4.0  NaN  3.0  4.0  5.0  ...  3.0  3.0  2.0  NaN  3.0  4.0
Polygon Xtrada 7    5.0  NaN  4.0  4.0  4.0  5.0  ...  5.0  NaN  2.0  3.0  3.0  4.0

[9 rows x 41 columns]

In [ ]:
data_rating_sepeda.fillna(0, inplace = True)
data_rating_sepeda.head()

   user_id  sepeda_id  rating        nama_sepeda
0        1          1     2.0  Polygon Premier 4
1        2          1     3.0  Polygon Premier 4
2        3          1     0.0  Polygon Premier 4
3        4          1     1.0  Polygon Premier 4
4        5          1     2.0  Polygon Premier 4

In [ ]:
sepeda_rating.fillna(0, inplace = True)
sepeda_rating

user_id              1    2    3    4    5    6   ...   36   37   38   39   40   41
nama_sepeda                                       ...
Polygon D7          4.0  4.0  5.0  0.0  3.0  5.0  ...  0.0  5.0  0.0  0.0  4.0  3.0
Polygon Premier 4   2.0  3.0  0.0  1.0  2.0  0.0  ...  0.0  2.0  1.0  2.0  0.0  2.0
Polygon Premier 5   3.0  0.0  3.0  2.0  0.0  2.0  ...  3.0  0.0  1.0  2.0  2.0  2.0
Polygon Siskiu D5   3.0  0.0  3.0  3.0  2.0  4.0  ...  2.0  5.0  3.0  0.0  4.0  3.0
Polygon Siskiu T7   5.0  5.0  3.0  5.0  0.0  3.0  ...  2.0  5.0  0.0  3.0  5.0  0.0
Polygon Siskiu T8   5.0  0.0  4.0  5.0  0.0  4.0  ...  4.0  5.0  5.0  4.0  5.0  3.0
Polygon Xtrada 5    4.0  3.0  0.0  2.0  3.0  4.0  ...  3.0  3.0  0.0  2.0  3.0  2.0
Polygon Xtrada 6.1  4.0  4.0  0.0  3.0  4.0  5.0  ...  3.0  3.0  2.0  0.0  3.0  4.0
Polygon Xtrada 7    5.0  0.0  4.0  4.0  4.0  5.0  ...  5.0  0.0  2.0  3.0  3.0  4.0

[9 rows x 41 columns]

# **Proses**

In [ ]:
n_users = data_rating_sepeda.user_id.unique().shape[0]
n_bikes = data_rating_sepeda.sepeda_id.unique().shape[0]
print ('Jumlah user = ' + str(n_users) + '| Jumlah sepeda = ' + str(n_bikes))

Jumlah user = 41| Jumlah sepeda = 9

In [ ]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(data_rating_sepeda, test_size=0.25)

In [ ]:
train_data_matrix = np.zeros((n_users, n_bikes))
for line in train_data.itertuples():
  train_data_matrix[line[1]-1, line[2]-1] = line[3]

test_data_matrix = np.zeros((n_users, n_bikes))
for line in test_data.itertuples():
  test_data_matrix[line[1]-1, line[2]-1] = line[3]

In [ ]:
from sklearn.metrics.pairwise import pairwise_distances
bikes_similarity = cosine_similarity(train_data_matrix.T)
bikes_similarity

array([[1.        , 0.39769745, 0.49953383, 0.51458159, 0.59467473,
        0.45571483, 0.41743401, 0.35387202, 0.58705829],
       [0.39769745, 1.        , 0.39732667, 0.61097746, 0.40758619,
        0.25890947, 0.35617215, 0.44471944, 0.4996292 ],
       [0.49953383, 0.39732667, 1.        , 0.61070903, 0.63097161,
        0.53539747, 0.4302823 , 0.59443009, 0.58551687],
       [0.51458159, 0.61097746, 0.61070903, 1.        , 0.61135682,
        0.48664521, 0.6422041 , 0.60213086, 0.64874792],
       [0.59467473, 0.40758619, 0.63097161, 0.61135682, 1.        ,
        0.57028506, 0.52691641, 0.48580009, 0.55032907],
       [0.45571483, 0.25890947, 0.53539747, 0.48664521, 0.57028506,
        1.        , 0.51057636, 0.55229329, 0.67927438],
       [0.41743401, 0.35617215, 0.4302823 , 0.6422041 , 0.52691641,
        0.51057636, 1.        , 0.71603048, 0.53039484],
       [0.35387202, 0.44471944, 0.59443009, 0.60213086, 0.48580009,
        0.55229329, 0.71603048, 1.        , 0.55126816],
       [0.58705829, 0.4996292 , 0.58551687, 0.64874792, 0.55032907,
        0.67927438, 0.53039484, 0.55126816, 1.        ]])

In [ ]:
memory_based = pd.DataFrame(data = bikes_similarity, index = sepeda_rating.index, columns = sepeda_rating.index)
memory_based

nama_sepeda         Polygon D7  ...  Polygon Xtrada 7
nama_sepeda                     ...
Polygon D7            1.000000  ...          0.587058
Polygon Premier 4     0.397697  ...          0.499629
Polygon Premier 5     0.499534  ...          0.585517
Polygon Siskiu D5     0.514582  ...          0.648748
Polygon Siskiu T7     0.594675  ...          0.550329
Polygon Siskiu T8     0.455715  ...          0.679274
Polygon Xtrada 5      0.417434  ...          0.530395
Polygon Xtrada 6.1    0.353872  ...          0.551268
Polygon Xtrada 7      0.587058  ...          1.000000

[9 rows x 9 columns]

In [ ]:
def predict_bikes (rating, similarity, type='user'):
  if type == 'item' :
    pred = rating.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
  return pred

In [ ]:
bikes_prediction = predict_bikes(train_data_matrix, bikes_similarity, type='item')
bikes_prediction

array([[3.47912772, 3.15336056, 3.75154968, 3.63377801, 3.74825767,
        3.77318419, 3.80569412, 3.81099171, 3.6892325 ],
       [2.07362007, 1.93853946, 2.2018069 , 2.26201224, 1.98199907,
        1.92582781, 2.47409189, 2.47475554, 1.95138681],
       [1.91738091, 1.71977545, 1.96943934, 2.01101062, 2.23211833,
        2.41785842, 2.51638182, 2.33661002, 2.22734923],
       [1.50884723, 1.72042034, 1.52415646, 1.60662249, 1.34950058,
        1.36670726, 1.2804904 , 1.31965774, 1.7228724 ],
       [1.78417962, 1.47632249, 1.57592118, 1.81139406, 1.92566943,
        1.71731329, 1.85818382, 1.56816832, 1.58377333],
       [2.38324631, 2.69771217, 2.82688943, 2.92263953, 2.87989136,
        2.40712825, 3.00723889, 2.88403702, 2.42222295],
       [0.71841864, 1.10847799, 0.8446402 , 0.97027208, 0.80684019,
        0.8434621 , 1.28195956, 1.32769952, 0.85144342],
       [1.61641201, 1.72155853, 1.86100231, 1.95520733, 1.65227608,
        1.80541454, 2.06378568, 2.05633311, 2.01736954],
       [0.49319513, 0.52918316, 0.55069965, 0.65878219, 0.57257561,
        0.6232585 , 1.05887908, 0.91766458, 0.57244149],
       [0.76902442, 1.30409234, 0.78919022, 1.10340284, 0.78812458,
        0.73742095, 0.80855762, 0.81028942, 0.84747306],
       [1.61425792, 2.29143194, 1.74614615, 1.98741293, 1.62209475,
        1.67357328, 2.02905035, 2.06219074, 1.9755125 ],
       [1.00349297, 0.90834982, 0.99104359, 1.10717679, 1.35304105,
        0.9597497 , 1.15379688, 0.95562318, 0.90726782],
       [2.65895907, 2.17937343, 2.74779869, 2.48499763, 2.79100599,
        2.72538929, 2.20289891, 2.2137496 , 2.70797301],
       [1.54982665, 1.10220428, 1.7323306 , 1.24656058, 1.7375133 ,
        1.27544459, 1.09568225, 1.1525033 , 1.2168111 ],
       [2.09383123, 2.00843926, 2.13400591, 2.15818485, 2.24092546,
        2.12517997, 1.84276126, 1.82034785, 2.20385225],
       [1.67329078, 1.64795131, 1.6902938 , 1.79960003, 1.66745259,
        1.82254654, 2.10890032, 2.14057921, 1.97678058],
       [1.49072114, 1.47567597, 1.62484539, 1.72477847, 1.487321  ,
        1.67531602, 1.74458263, 1.59454909, 1.84434179],
       [1.73828426, 1.65539517, 1.59927573, 1.78981327, 1.96379036,
        1.66479041, 1.73609124, 1.5320832 , 1.69109921],
       [1.80595561, 1.59571775, 2.22655566, 1.78538794, 2.18910732,
        2.11675873, 1.77702164, 1.99321259, 1.97188117],
       [1.41700948, 1.34491173, 1.32045062, 1.26292529, 1.45915416,
        1.1373576 , 1.36228297, 1.2058261 , 1.16944685],
       [1.33117905, 1.39159049, 1.72034804, 1.6794181 , 1.52573146,
        1.84929753, 1.99938265, 2.11263076, 1.57200536],
       [1.30521088, 1.23389746, 1.87382518, 1.38065454, 1.69174299,
        1.41952156, 1.38853495, 1.68196888, 1.30214639],
       [1.02610743, 0.88952485, 1.1371598 , 1.01905141, 1.41280837,
        1.28900403, 1.13134779, 1.23262565, 1.0233975 ],
       [0.99056689, 1.05605994, 0.84409621, 0.99881232, 0.82304885,
        0.87243582, 0.81473392, 0.79386672, 1.13351126],
       [2.4090958 , 2.29861271, 2.21886063, 2.29845669, 2.42325812,
        2.62139219, 2.62372872, 2.51519932, 2.59889927],
       [1.26213542, 1.21249475, 1.37237873, 1.31566066, 1.16257737,
        1.25200317, 1.19220944, 1.31157594, 1.44847432],
       [1.46997081, 1.58641568, 1.63789197, 1.7817018 , 1.80287285,
        1.4040443 , 1.73356732, 1.53444518, 1.43072486],
       [0.79707406, 1.00583398, 0.85084332, 0.96625483, 0.77505335,
        0.77183873, 0.95947876, 1.13249747, 0.81482204],
       [0.94293585, 1.35246441, 1.28982288, 1.2673121 , 1.02525844,
        0.9285887 , 1.04519558, 1.22235024, 1.03060434],
       [2.67405532, 3.07760084, 3.1291213 , 3.02875504, 2.98023923,
        2.92162879, 2.72969736, 3.00431967, 3.0540157 ],
       [1.98994819, 1.46191139, 1.98162024, 1.63455   , 2.04436581,
        2.08272128, 1.53736308, 1.56515756, 1.9831983 ],
       [1.49534035, 1.88868586, 1.63101268, 1.9264336 , 1.80369156,
        1.57257621, 2.16058572, 2.07853246, 1.58430305],
       [2.15618668, 2.36692997, 2.01021236, 2.19068118, 2.21737234,
        2.0050989 , 1.9858662 , 2.07480443, 2.15787839],
       [2.06050387, 1.77770144, 1.77375575, 2.03860137, 2.0235948 ,
        1.88566383, 2.14311519, 1.80962535, 2.11158825],
       [1.9782336 , 2.18901975, 1.9051032 , 2.20291599, 2.14426668,
        1.85475126, 2.1110104 , 2.01505718, 2.04998264],
       [1.51256402, 2.03815031, 1.80823831, 1.82707664, 1.5103721 ,
        1.51800252, 1.52818707, 1.72225966, 1.82951316],
       [2.51272156, 2.47473567, 2.94469463, 2.92120418, 2.67643224,
        3.32274292, 3.31431428, 3.33694826, 3.10845194],
       [1.64267947, 1.53434061, 1.49768114, 1.58047669, 1.61539686,
        1.82703134, 1.42213164, 1.39375759, 1.86829829],
       [1.64435435, 1.55757959, 1.51938839, 1.37962481, 1.5745458 ,
        1.37212605, 1.19105123, 1.21657616, 1.59713185],
       [2.70167763, 2.61369621, 3.12016882, 3.04433631, 3.03024906,
        3.36240919, 3.32799318, 3.3726194 , 3.18680792],
       [1.43609295, 1.34133091, 1.35432185, 1.20102874, 1.23250391,
        1.49291409, 1.07810507, 1.15020778, 1.48826462]])

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def rmse(prediction, ground_truth):
  prediction = prediction[ground_truth.nonzero()].flatten()
  ground_truth = ground_truth[ground_truth.nonzero()].flatten()
  return sqrt(mean_squared_error(prediction, ground_truth))

In [ ]:
print ('Item Based RMSE = ' + str(rmse(bikes_prediction, test_data_matrix)))

Item Based RMSE = 2.1091126026500593

# **Output**

In [ ]:
def get_memory_based(title, r=3):
    print('Terima kasih membeli sepeda', title, 'kami rekomendasikan anda untuk membeli sepeda:', )
    rf = memory_based[title].sort_values(ascending=False)[:r+1]
    if title in rf:
      del rf[title]
    return rf

In [ ]:
start = time.time()
recommendation = get_memory_based("Polygon Siskiu T7", 2)
end = time.time()
timer = end - start
print(recommendation)
print(timer)

Terima kasih membeli sepeda Polygon Siskiu T7 kami rekomendasikan anda untuk membeli sepeda:
nama_sepeda
Polygon Xtrada 7     0.615515
Polygon Siskiu T8    0.596936
Name: Polygon Siskiu T7, dtype: float64
0.0052487850189208984